@model PropertyInfo
@using PropertyInspection_WebApp.Models.PrePurchaseModels.BuildingElementsModels
@using PropertyInspection_WebApp.Repository
@using PropertyInspection_WebApp.Settings
@inject FoundationRepository foundationRepo

@{
    ViewData["Title"] = "PrePurchaseMailReportView";
    var propertyId = TempData["pk_property_id"];
    var foundationModel = foundationRepo.GetFoundationByPropertyId(propertyId.ToString());
}

<h1 class="display-6" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Pre-Purchase Report <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("RedirectedIndexCall", "ModularForm", new { id = @propertyId })'">Submit Report</button></h1>
<small>Review checklist values before submitting the final report</small>
<hr />
<div class="container-fluid" style="width: fit-content">
    @Html.Partial("~/Views/Reports/Shared/_PropertyInfoPartial.cshtml", Model)
    <hr />
    @Html.Partial("~/Views/Reports/Pre-PurchaseReport/_FoundationPartialView.cshtml", foundationModel)
    <hr />
</div>



