@model PropertyInfo
@using PropertyInspection_WebApp.Models.PrePurchaseModels.BuildingElementsModels
@using PropertyInspection_WebApp.Repository
@using PropertyInspection_WebApp.Settings
@inject FoundationRepository foundationRepo

@{
    ViewData["Title"] = "PrePurchaseMailReportView";
    var propertyId = TempData["pk_property_id"];
    var foundation = foundationRepo.GetFoundationByPropertyId(propertyId.ToString());
}

<h1 class="display-6" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Pre-Purchase Report</h1>
<small>Review checklist values before submitting the final report</small>
<hr />
@Html.Partial("~/Views/Reports/Shared/_PropertyInfoPartial.cshtml", Model)

<hr />




<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("RedirectedIndexCall", "ModularForm", new { id = @propertyId })'">Submit Report</button>