@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var user = await UserManager.GetUserAsync(User);
}
<div class="container">
    <div class="row">    
        <div class="col-3">
            <div class="card">
                <div class="imgDiv"><img src="~/Assets/Regal.png" alt="Card image cap"></div>
                <div class="card-body">
                    <h5 class="card-title">@User.Identity.Name</h5>
                    <p class="card-text">
                        Name: @User.Identity.Name <br />
                        Email: @user.Email
                    </p>
                </div>
            </div>
            <ul class="list-group">
                <li class="rpi-left-li-active " aria-current="true">Account Management</li>
                <li class="rpi-left-li"><a asp-area="" asp-controller="Secured" asp-action="InspectorDashboard" class="card-link">Inspections</a></li>
                <li class="rpi-left-li">Inspectors</li>
                <li class="rpi-left-li">Upcoming</li>
                <li class="rpi-left-li">Corrections</li>
                <li class="rpi-left-li">Approved</li>
                <li class="rpi-left-li"><img class="card-img-top btnImage" src="~/Assets/Livehelp.png" alt="Card image cap"></>Help</li>
                @*<li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>*@
            </ul>
        </div>
        <div class="col-9">
            <div class="row">
                <h1 class="rpi-red-title" style="width:75%">Admin Dashboard</h1> <button class="rpi-button-green" style="width: 20%;">+ Add New</button>
                <hr style="margin-top: 10px;" />
            </div>
            <div class="input-group mb-3">
                <div class="rpi-card-red" style="width: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title rpi-card-title">Create User     +</h5>
                        <a asp-area="" asp-controller="Operations" asp-action="Create" class="card-link"><div class="imgDiv"><img class="card-img-top btnImage" src="~/Assets/adduser.png" alt="Card image cap"></div></a>
                    </div>
                </div>
                <div class="rpi-card-red" style="width: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title rpi-card-title">Create Role     +</h5>
                        <a asp-area="" asp-controller="Operations" asp-action="CreateRole" class="card-link"><div class="imgDiv"><img class="card-img-top btnImage" src="~/Assets/addrole.png" alt="Card image cap"></div></a>
                    </div>
                </div>
                <div class="rpi-card" style="width: 28rem;">
                    <div class="card-body">
                        <h5 class="card-title rpi-red-title">Upcoming Inspections</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    