@{
    ViewData["Title"] = "Property Inscpetion - Home";
}

<div class="text-center">
    <h1 class="display-4">Your Safety Is Our Concern</h1>
    <p>We are an expert in the field of Property Inspection</p>
</div>

