@model PropertyInfo
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var user = await UserManager.GetUserAsync(User);
    var now = DateTime.Now;
}
<div class="text-center">
    <h1 class="display-4">Property Information</h1>
    <p>The general information required for all properties.</p>
</div>

<container style="display:flex">
    <row class="col-3"></row>
    <row class="col-6">

        <form method="post" asp-controller="PropertyInfo" asp-action="SavePropertyInfo" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-group">
                        <label asp-for="ClientFName">Client First Name</label>
                        <input id="ClientFName" asp-for="ClientFName" class="form-control" />
                        <span asp-validation-for="ClientFName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label asp-for="ClientLName">Client Last Name</label>
                        <input id="ClientLName" asp-for="ClientLName" class="form-control" />
                        <span asp-validation-for="ClientLName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PropertyAddress">Property Address</label>
                <input id="PropertyAddress" asp-for="PropertyAddress" class="form-control" />
                <span asp-validation-for="PropertyAddress" class="text-danger"></span>
            </div>

            <fieldset title="Occupancy Details">
                <div class="form-group">
                    <label asp-for="PeoplePresent">People Present</label>
                    <select id="PeoplePresent" asp-for="PeoplePresent" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <span asp-validation-for="PeoplePresent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HouseOccupied">House Occupied</label>
                    <select id="HouseOccupied" asp-for="HouseOccupied" class="form-control">
                        <option value="Occupied">Occupied</option>
                        <option value="NotOccupied">Not Occupied</option>
                    </select>
                    <span asp-validation-for="HouseOccupied" class="text-danger"></span>
                </div>
            </fieldset>

            <fieldset title="Legal Information">
                <div class="form-group">
                    <label asp-for="LegalDescription">Legal Description</label>
                    <input id="LegalDescription" asp-for="LegalDescription" class="form-control" />
                    <span asp-validation-for="LegalDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CertOfTitle">Certificate Of Title</label>
                    <input id="CertOfTitle" asp-for="CertOfTitle" class="form-control" />
                    <span asp-validation-for="CertOfTitle" class="text-danger"></span>
                </div>
            </fieldset>


            <div class="form-group">
                <label asp-for="RawImageFile">Property Image</label>
                <input type="file" capture="" id="RawImageFile" asp-for="RawImageFile" class="form-control" />
                <span asp-validation-for="RawImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="AddedBy" id="AddedBy" value="@user.Email" class="form-control" hidden />
            </div>
            <button id="add" type="submit" value="submit" class="btn btn-primary">Add</button>
        </form>
    </row>
    <row class="col-3"></row>
</container>

