@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Pre-Purchase Inspection View</h1>
    <p>This is the view for a pre-purchase inspection.</p>
</div>
